In [ ]:
class demo1:
    def fact(self,n):
        #return the factorial
        fact = 1
        while(n!=0):
            fact = fact*n

In [4]:
class  Demo2:
    def __init__(self,p1,p2):
        self.p1 = p1
        self.p2 = p2
        
    def add(self,p1,p2):
        return p1 + p2
    
c1 = Demo2(10,20)
print(c1.add(100,200))

300

In [2]:
 import pandas as pd
a = pd.Series([1,2,3,4,5,6,7])
print(a)

0    1
1    2
2    3
3    4
4    5
5    6
6    7
dtype: int64

In [3]:
import numpy as np
a1 = pd.Series([1,2,3,4,np.nan,6])
print(a1)

0    1.0
1    2.0
2    3.0
3    4.0
4    NaN
5    6.0
dtype: float64

In [ ]:
dates = pd.date_range('20190601',periods=20)
print(dates)

DatetimeIndex(['2019-06-01', '2019-06-02', '2019-06-03', '2019-06-04',
               '2019-06-05', '2019-06-06', '2019-06-07', '2019-06-08',
               '2019-06-09', '2019-06-10', '2019-06-11', '2019-06-12',
               '2019-06-13', '2019-06-14', '2019-06-15', '2019-06-16',
               '2019-06-17', '2019-06-18', '2019-06-19', '2019-06-20'],
              dtype='datetime64[ns]', freq='D')

In [ ]:
list = pd.date_range('20190601',periods=5)
print(list)

DatetimeIndex(['2019-06-01', '2019-06-02', '2019-06-03', '2019-06-04',
               '2019-06-05'],
              dtype='datetime64[ns]', freq='D')

In [ ]:
import turtle as tt
a1 = tt.Turtle()
a1.forward(150)
a1.right(90)

a1.forward(150)
a1.right(90)

a1.forward(150)
a1.right(90)

a1.forward(150)
a1.right(90)

tt.done()

In [ ]:
import turtle as tt
a1 = tt.Turtle()

a1.backward(150)
a1.left(90)

a1.backward(150)
a1.left(90)

a1.backward(150)
a1.left(90)

a1.backward(150)
a1.left(90)

a1.backward(150)
a1.left(90)

tt.done()

In [ ]:
import turtle as tt
a1 = tt.Turtle()

for i in range(40):
    a1.forward(1*10)
    a1.right(144)
    
tt.done()